{
    "plugins": [
        [
            "module-resolver",
            {
                "root": [
                    "./src"
                ],
                "alias": {
                    "@assets": "./src/assets",
                    "@lib": "./src/lib",
                    "@components": "./src/components",
                    "@store": "./src/store",
                    "@screens": "./src/screens"
                }
            }
        ]
    ]
}